<div class="container bg-light">
    <form class="p-5">
        <div class="form-group p-5 m-4 ">
            <h2 class="">Sign In Here</h2>
            <div class="form-input col-4">
                <label for="" class="col-form-label-lg">Email :</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-input col-4">
                <label for="" class="col-form-label-lg">Password :</label>
                <input type="any" class="form-control">
            </div>
            <div >
                <button class="btn btn-success my-3 "> Sign-In</button>
            </div>
            <div class="my-2">
                <button class="btn btn-outline-danger text-black">Forgot PWD</button>
                <button class="btn btn-outline-warning mx-2 text-black"> SignUp </button>
            </div>
        </div>
    </form>
</div>