<div class="container bg-light">
    <div class="row col-6">
        <form class="p-5 m-4">
            <h2>Unlock Account</h2>
            <div class="form-group">
                <label for="" class="col-form-label-lg">e-Mail Id</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="col-form-label-lg">Temporary PWD</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="col-form-label-lg">Choose New PWD</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="col-form-label-lg">Confirm PWD</label>
                <input type="text" class="form-control">
            </div>
            <div class="btn btn-success my-3">Submit</div>
        </form>
    </div>
</div>