<div class="container bg-light ">
<form action="" class="p-5">
<div class="row p-4">
            
<div class="col-5 mx-5 form-group">
    <div>
            <label for="" class="col-form-label-lg" >First Name:</label>
            <input type="text" class="form-control">
    </div>
   
    <div>
        <label for="" class="col-form-label-lg" >e-Mail</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <label for="" class="col-form-label-lg" >DOB</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <label for="" class="col-form-label-lg" >Country</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <label for="" class="col-form-label-lg" >City</label>
        <input type="text" class="form-control">
    </div>
</div>


<div class="col-5 mx-5 form-group">


   
    <div>
        <label for="" class="col-form-label-lg " >Last Name:</label>
        <input type="text" class="form-control">
    </div>

    <div>
        <label for="" class="col-form-label-lg" >PhNo</label>
        <input type="text" class="form-control">
    </div>

    <div>
        <label for="" class="col-form-label-lg" >Gender</label>
        <input type="text" class="form-control">
    </div>

    <div>
        <label for="" class="col-form-label-lg" >State</label>
        <input type="text" class="form-control">
    </div>

    <div class="my-5 d-flex justify-content-end">
        <button class="btn btn-danger ">Reset</button>
        <button class="btn btn-success mx-2">Regirster</button>
    </div>
</div>

 
</div>
    </form>
</div>