
<div class="container  bg-light shadow-lg">
    <div class="row border-bottom shadow-sm m-1">
        <div class="navbar navbar-expand-lg text-primary col-4 py-2 px-5 ">
        <h1>     User+App </h1>       </div>
        <div class="navbar navbar-expand-lg col-8 justify-content-end py-2  ">
            <a [routerLink]="'/homepage'" class=" navbar-brand font-weight-bold btn text-dark ">Start</a>
            <a [routerLink]="'/signin'" class=" navbar-brand font-weight-bold btn  text-dark">Sign In</a>
        </div>

        
        
        
        

    </div>

</div>  

<div class="container shadow-lg bg-light ">
<form action="" class="p-2 col-sm-12 "[formGroup]="regSerForm">
<div class="row p-5 col-sm-12 ">
            
<div class="col-sm-12 mx-2 form-group shadow-lg p-3">

<div class="row py-2 col-lg-12 col-sm-12">
    <div class="px-5 col-lg-6 col-sm-12">
        <label for="" class="col-form-label-lg" >First Name:</label>
        <input type="text" class="form-control" name="fname" formControlName="fname">
</div >

<div class="px-5 col-lg-6 col-sm-12">
    <label for="" class="col-form-label-lg col-lg-6 col-sm-12 " >Last Name:</label>
    <input type="text" class="form-control" name="lname" formControlName="lname">
</div>
</div>

<div class="row col-lg-12 col-sm-12">
    <div class="px-5 col-lg-6 col-sm-12">
        <label for="" class="col-form-label-lg" >PhNo</label>
        <input type="number" class="form-control" name="phno" formControlName="phno">
    </div>

    

    <div class="px-5 col-lg-6 col-sm-12">
  
    <label for="" class="col-form-label-lg"  >e-Mail</label>
        <input type="string" class="form-control" name="email" formControlName="email" (blur)="uniqueEmailCheckServ($any($event.target).value)" >
        <small *ngIf="validateEmail" style="color: red;">Your emailID already registered</small>
    </div>
</div>
    

<div class="row py-2 col-sm-12 col-lg-12">
    <div class="px-5 col-sm-12 col-lg-6">
        <label for="" class="col-form-label-lg" >DOB</label>
        <input type="date" class="form-control" name="dob" formControlName="dob">
    </div>

    <div class="px-5 col-lg-6 col-sm-12" >
        <label for="" class="col-form-label-lg">Select Gender</label>
        <select class="form-select" name="gender" formControlName="gender" >
            <option selected>Select Gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>

    </div >

</div>

<div class="row py-2 col-lg-12 col-sm-12">

    <div class="px-5 col-lg-4 col-sm-12">
        <label for="" class="col-form-label-lg" >Country</label>
        <div>
            <select name="" id="" class="form-select" name="countryId" formControlName="countryId" (change)="getStatesServ($any($event.target).value)">
                <option *ngFor="let cont of country | keyvalue" [value]="cont.key"  > {{cont.value}}</option>

            </select>
        </div>
    </div>

    <div class="px-5 col-lg-4 col-sm-12" >
        <label for="" class="col-form-label-lg">State</label><br>
         <select class="form-select col-sm-" name="stateId" formControlName="stateId" (change)="getCitiesServ($any($event.target).value)">
        <option  *ngFor="let st of state|keyvalue" [value]="st.key">{{st.value}}</option>

        </select>
     </div>

    <div class="px-5 col-lg-4 col-sm-12">
        <label for="" class="col-form-label-lg" >City</label>
        <select name="" id="" class="form-select col-sm-12" name="cityId" formControlName="cityId">
            <option  *ngFor="let ct of city |keyvalue" [value]="ct.key">{{ct.value}}</option>

        </select>    
    </div>

</div>




    <div class="my-3 p-2 d-flex justify-content-center">
        <button class="btn btn-danger " (click)="onReset(regSerForm)">Reset</button>
     
      <button class="btn btn-success mx-2" (click)="saveUserServ()" > Regirster</button>
      <!-- <div><span class="spinner-grow" *ngIf="loadSpinner"></span></div> -->
    </div>
</div>






</div>


    </form>
</div>