<!-- <div class="container  bg-light shadow-lg">
    <div class="row border-bottom shadow-sm m-1">
        <div class="navbar navbar-expand-lg text-primary col-4 py-2 px-5 ">
        <h1>     User+App </h1>       </div>
        <div class="navbar navbar-expand-lg col-8 justify-content-end py-2  ">
            <a [routerLink]="'home'" class=" navbar-brand font-weight-bold btn text-dark ">Home</a>
            <a [routerLink]="'signin'" class=" navbar-brand font-weight-bold btn  text-dark">Sign In</a>
            <a [routerLink]="'/signin'" class=" navbar-brand font-weight-bold btn  text-dark">LogOut</a>
            <a [routerLink]="'/forgetPwd/'" class=" navbar-brand font-weight-bold btn  text-dark" >Forgot PWD ?</a>
            <a [routerLink]="'/registration/'" class=" navbar-brand font-weight-bold btn  text-dark"> Register </a>
        </div>

        
        
        
        

    </div>

</div> -->

<router-outlet></router-outlet>
